:root{
    --azul-oscuro:#0A3871;
}

main svg{
    position: relative;
    left: 5.6vw;
    top: 2.8vw;    
}

body{
    background-color:#F3F5FC ;
    font-size: 1.6vw;
}

.cajaTexto{
    position: relative;
    left: 16.6vw;
    top: 11.6vw;
    width: 40.1vw;
}

.ingresaTexto{
    font-size: 2.22vw;
    font-family:'Montserrat', sans-serif;
    font-style: regular;
    line-height: 1.5vw;
    height: 35vw;
    width: 48.1vw;
    border: none;
    background: #F3F5FC;
    outline: none;
    resize: none;
    color: var(--azul-oscuro);
}

textarea:placeholder{
    color: var(--azul-oscuro);
}

.recuadro{
    position: relative;
    width: 27.8vw;
    height: 65.5vw;
    left: 69.4vw;
    top: 3.9vh;
    /* White */
    background: #FFFFFF;
    /* shadow */
    box-shadow: 0vw 1.6vw 2.2vw -0.56px rgba(0, 0, 0, 0.08);
    border-radius: 2.2vw;
}

.recuadro svg{
    position: relative;
    width: 23.3vw;
    height: 21.1vw;
    left: 2.2vw;
    top: 16.9vw;
}

.bloqueSalida{
    position: relative;
    width: 27.8vw;
    height: 65.6vw;
    left: 69.4vw;
    top: 2.8vw;
}

.salida{
    position: relative;
    width: 23.3vw;
    height: 21.1vw;
    left: 2.2vw;
    top: 16.9vw;
    display: none;
    word-wrap: break-word;
}

.recuadro .aviso{
    position: absolute;
    top: 579px;
    left: 32px;
    width: 336px;
    height: 58px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */
    text-align: center;

    /* Gray/gray-500 */
    color: #343A40;

}

.recuadro .info{
    position: absolute;
    top: 653px;
    left: 32px;
    width: 336px;
    height: 48px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    text-align: center;
    /* Gray/gray-400 */
    color: #495057;

}

.advertencia svg{
    position: absolute;
    top: 852px;
    left: 240px;
}

.advertencia p{
    position: absolute;
    top: 851px;
    left: 264px;
    /* Solo letras minúsculas y sin acentos */
    width: 230px;
    height: 18px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */

    /* Gray/gray-400 */
    color: #495057;

    opacity: 0.8;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    
}

.botonEncriptar{
    position: absolute;
    top: 885px;
    left: 240px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    gap: 8px;
    background: #0A3871;
    color: white;
    cursor: pointer;
    transition: all 0.45s ease-in-out;
}

.botonEncriptar:hover,.botonDesencriptar:hover{
transform: scale(1.05);
}

.botonDesencriptar{
    position: absolute;
    top: 885px;
    left: 592px;
    width: 328px;
    height: 67px;
    padding: 24px;
    gap: 8px;

    /* Light gray */
    background: #D8DFE8;

    /* Dark blue/dark-blue-300 */
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;

    /* Dark blue/dark-blue-300 */
    color: #0A3871;
    cursor: pointer;
    transition: all 0.45s ease-in-out;
}


